root {
  --branding-color: #12f7d6;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  color: #12f7d6;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 30px;
}
p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}
a {
  color: #12f7d6;
  text-decoration: none;
  font-size: 18px;
}
.content {
  align-items: center;
  display: flex;
  height: 100vh;
  overflow: visible;
  padding: 0;
  width: auto;
}
/* nav */
nav {
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  padding-left: 50px;
}
nav a {
  color: #98faec;
  font-size: 18px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: #64c2b1;
}
.content {
  align-items: center;
  gap: 32px;
  height: 100vh;
  padding: 0;
  width: auto;
}
/*home*/
#home {
  background-color: #292f36;
  color: white;
  height: 150vh;
  width: auto;
}
#home h1 {
  font-size: 50px;
  color: white;
}
#home h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #98faec;
}
.web-text h3 {
  font-size: 30px;
  color: white;
}
#home p {
  font-size: 20px;
}
.number {
  font-size: 48px;
  font-weight: 500px;
  color: rgba(18, 247, 214, 1);
}
.highlights {
  align-items: center;
  background-color: #1a1e23;
  border-radius: 80px;
  box-shadow: 2px 2px 4px #00000040;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 9px;
  height: min-content;
  justify-content: center;
  padding: 30px 20px;
  position: relative;
  width: min-content;
  margin-left: 70px;
  margin-top: 100px;
}
.web-text h2 {
  font-size: 30px;
  color: #12f7d6;
  font-weight: 300px;
}

.left {
  border-bottom-width: 4px;
  border-color: #ffffff;
  border-left-width: 4px;
  border-right-width: 4px;
  border-style: solid;
  border-top-width: 4px;
  background-color: #292f36;
  border-bottom-right-radius: 160px;
  border-top-left-radius: 160px;
  box-shadow: -4px -4px 2px #12f7d6;
  gap: 10px;
  height: 400px;
  justify-content: center;
  overflow: hidden;
  padding: 35px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 200px;
  margin-left: 60px;
  margin-bottom: 50px;
}
.mypic {
  border-radius: 80px;
  margin-left: 150px;
  height: 400px;
}
.web-text {
  margin-top: 200px;
}
/*about*/
#about {
  background-image: url(/images/background.webp);
  color: white;
}
.title-about {
  border-color: #12f7d6;
  color: #12f7d6;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-style: solid;
  border-top-width: 4px;
  background-color: #292f36;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  display: flex;
  overflow: visible;
  margin-top: 20px;
  padding: 16px 50px;
  
}
.title {
  outline: none;
  flex-shrink: 0;
  transform: none;
}
.about-text {
  background-color: #292f36;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  height: 300px;
  justify-content: flex-start;
  overflow: visible;
  padding: 10px 20px;
  width: auto;
}
/*about*/
#skills {
  background-image: url(images/skills\ background.webp);
  color: white;
}
.my-skills {
  border-radius: 80px;
  display: flex;
  justify-content: space-evenly;
}
.content-skills {
  text-align: center;
}
/*.langauges {
  align-items: center;
  display: flex;
  float: right;
  justify-content: space-around;
}*/
.html .css .js .react {
  display: inline-block;
  justify-content: space-around;
}
.icon {
  background-color: #e54f26;
  border-radius: 80px;
  display: inline-block;
  height: min-content;
  overflow: hidden;
  padding: 40px;
  width: min-content;
}
.icon2 {
  background-color: #0c73b8;
}
.icon3 {
  background-color: #e7a020;
}
.icon4 {
  background-color: #28a9e0;
}
.name2{
  color: #0c73b8;
}
.name3 {
  color: #e7a020;
}
.name4 {
  color: #28a9e0;
}
.icon-name {
  display: inline;
  gap: 10px;
  height: min-content;
  overflow: visible;
  padding: 0;
  width: min-content;
}
/*work*/
#work {
  background-color: #292f36;
  color: white;
}
.content-work {
  text-align: center;
}
.projects{
  display: flex;
  justify-content: center;
}

/*contact*/
#contact {
  background-color: #1a1e23;
  color: white;
}
.contact-form {
  text-align: justify;
}
.content-contact {
  text-align: center;
  justify-content: center;
}
.contact-title p {
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}
/*.contact-title {
  border-bottom-width: 2px;
  border-color: #12f7d6;
  color: #12f7d6;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-top-width: 2px;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
  height: min-content;
  width: min-content;
  float: inline-end;
  overflow: visible;
  padding: 16px 40px;
}*/
.btn-branding {
  background-color: #51c4b2;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 12px 30px; 
}

input {
  appearance: none;
  width: 40%;
  height: auto;
  outline: none;
  border: none;
  padding: 16px 16px 16px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300px;
  letter-spacing: 0em;
  display: block;
  justify-content: center;
  text-align: left;
  background: #a6f3e7;
  color: rgb(255, 255, 255);
}
form {
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  color: rgb(255, 255, 255);
  gap: 12px;
}
.contact-form {
  align-items: center;
  display: flex;
  flex: none;
  gap: 64px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0 240px;
  width: 100%;
}

/*footer*/
footer {
  margin: 60px 0;
}
footer .social-links a {
  margin: 0 20px;
  color: #12f7d6;
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: #12f7d6;
}
@media screen {
}
