root {
  --branding-color: #12f7d6;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #175e8d;
 
}

h1 {
  color: #12f7d6;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}
/* nav */
nav {
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  padding-left: 50px;
}
nav a {
  color: #98faec;
  font-size: 30px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: #64c2b1;
}
.content {
  align-items: center;
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  gap: 32px;
  height: 100vh;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: auto;
}
/*home*/
#home {
  background-color: #292f36;
  
  color: white;
}
#home h1 {
  color: white;
}
#home h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #98faec;
}
.number {
  font-size: 48px;
  font-weight: 500;
  color: rgba(18, 247, 214, 1);
}
.left {
  border-bottom-width: 4px;
  border-color: #ffffff;
  border-left-width: 4px;
  border-right-width: 4px;
  border-style: solid;
  border-top-width: 4px;
  align-content: flex-start;
  align-items: flex-start;
  background-color: #292f36;
  border-bottom-right-radius: 160px;
  border-top-left-radius: 160px;
  box-shadow: -4px -4px 2px #12f7d6;
  gap: 10px;
  height: 450px;
  justify-content: center;
  overflow: hidden;
  padding: 35px;
  position: relative;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 200px;
  margin-left: 100px;
  margin-bottom: 100px;
}
.highlights {
  align-items:center;
  background-color: #1a1e23;
  border-radius: 80px;
  box-shadow: 2px 2px 4px #00000040;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 9px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 48px 32px;
  position: relative;
  width: min-content;
  margin-right: 50px;
  margin-top: 100px;
}
/*about*/
#about {
  background-image: url(/images/background.webp);
  color: white;
}
.title-about {
  border-color: #12f7d6;
  color: #12f7d6;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-style: solid;
  border-top-width: 4px;
  align-content: flex-start;
  align-items: flex-start;
  background-color: #292f36;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  margin-top: 20px;
  padding: 16px 50px;
  position: relative;
  transform: perspective(1200px);
  width: min-content;
}
.title {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}
.about-text {
  align-items: flex-start;
  background-color: #292f36;
  border-radius: 40px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 10px 30px;
  position: relative;
  width: min-content;
}
/*about*/
#skills {
  background-image: url(images/skills\ background.webp);
  color: white;
}
.my-skills{
  background-color: #e54f26;
  border-radius: 80px;
  display: flex;
  display: inline;
}
.content-skills {
  text-align: center;
}
.langauges {
  align-items: center;
  display: flex;
}
.html .css .js .react {
  align-items: center;
  display: flex;
  justify-content: center;
}
.icon {
  align-items: center;
  background-color: #e54f26;
  border-radius: 80px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: min-content;
}
.icon2 {
  background-color: #0c73b8;
}
.icon3 {
  background-color: #e7a020;
}
.icon4 {
  background-color: #28a9e0;
}
.name2 {
  color: #0c73b8;
}
.name3 {
  color: #e7a020;
}
.name4 {
  color: #28a9e0;
}
.icon-name {
  
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content;
}
/*work*/
#work {
  background-color: #292f36;
  color: white;
}
.content-work {
  text-align: center;
}
/*contact*/
#contact {
  background-color: #1a1e23;
  color: white;
}
.contact-form {
  text-align: justify;
}
.content-contact {
  text-align: center;
}
.contact-title p {
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}
.contact-title {
  border-bottom-width: 2px;
  border-color: #12f7d6;
  color: #12f7d6;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-top-width: 2px;
  align-content: center;
  align-items: center;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 16px 40px;
  position: relative;
  width: min-content;
}
.btn-branding {
  background-color: #12f7d6;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  height: min-content;
  overflow: visible;
  justify-content: center;
  padding: 16px 32px;
  position: relative;
  width: min-content;
}
input {
  appearance: none;
  margin-bottom: 15px;
  width: 30%;
  height: auto;
  outline: none;
  border: none;
  padding: 16px 16px 16px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1em;
  text-align: left;
  background: #6fccbe ;
  color: rgb(255, 255, 255);
}
form {
  width: 100%;
  height: auto;
  position: relative;
  color: rgb(255, 255, 255);
  gap: 12px;
}
.contact-form {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 64px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0 240px;
  position: relative;
  width: 100%;
}

/*footer*/
footer {
  margin: 60px 0;
}
footer .social-links a {
  margin: 0 20px;
  color: #12f7d6;
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: #12f7d6;
}
